body{
    background-size: 200vh 100vh;
    background-image: url(https://img.freepik.com/free-vector/music-vinyl-record-label-with-sound-notes_1017-33905.jpg);
    background-repeat: no-repeat;

}


nav{padding: 1rem;
   
    color: white;
    
    border-radius: 1.5rem;
    


    a{color: white;
     display: inline-block;
     text-shadow: 1rem;
     text-align: left;
     margin: 10px;
     padding: 10px;
     opacity: 0.5;
     font-weight: 550;
    
     
     
    }
}
.container .tabs a:hover{
    color: rgb(242, 248, 248);
}

.container .tabs img{
    height: 5rem;
    width: 5rem;
    float: left;
}

.container .tabs{
    gap: 1rem;
}

.main{padding: 100px 30px 40px 100px;
    margin: 50px 50px 50px 100px;
    align-items: center;
    color: white;
    opacity: 5;
}


button{color: rgb(248, 246, 246);
background-color: rgb(254, 50, 70);
height: 50px;
width: 150px;
font-weight: 400;
}